<% provide(:title , 'Sample App') %>
<!DOCTYPE html>
<html>
<head>
    <title>StaticPages#Sample App</title>
</head>
<body>
    <h1>StaticPages#Sample App</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
</body>
</html>


